@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Signika Negative', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.empireBtn{
  background-color: #3D65FF;
  border-radius: 100px;
  padding: 10px 30px;
  color: white;
  font-weight: 500;
}

.empireBtn:hover{
  background-color: white;
  color: #3D65FF;
}

.empireBtn2{
  background-color: #3D65FF;
  border: 1px solid #3D65FF;
  border-radius: 100px;
  padding: 8px 28px;
  color: white;
  font-weight: 500;
}

.empireBtn2:hover{
  background-color: white;
  color: #3D65FF;
}
